In [24]:
compteur = 1
while compteur <= 9 :
    print(compteur)
    compteur = compteur + 1
    sleep(0.2)

1
2
3
4
5
6
7
8
9

# Les listes

In [22]:
maliste = [3, 'nour', 4.8, "totoro", 42]

In [30]:
maliste[1:4]

['nour', 4.8, 'totoro']

In [34]:
maliste.append('ivan')

In [35]:
maliste

[3, 'nour', 4.8, 'totoro', 42, 'ivan']

In [45]:
def table_de_multiplication(n):
    liste = []
    for m in range(11):
        liste.append(m * n)
    return liste

In [47]:
l = table_de_multiplication(3)

In [48]:
l

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

# Les tuples

In [49]:
tup = (2, 3)

In [50]:
tup

(2, 3)